<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
</head>
<body>
<p>인가 토큰 받기 성공</p>
tokenType : <span th:text="${response.tokenType}?:_"></span> <br/>
accessToken : <span th:text="${response.accessToken}?:_"></span> <br/>
idToken : <span th:text="${response.idToken}?:_"></span> <br/>
expiresIn : <span th:text="${response.expiresIn}?:_"></span> <br/>
refreshToken : <span th:text="${response.refreshToken}?:_"></span> <br/>
refreshTokenExpiresIn : <span th:text="${response.refreshTokenExpiresIn}?:_"></span> <br/>
scope : <span th:text="${response.scope}?:_"></span> <br/>

</body>
</html>